.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box{
    position: relative;
}
#select-image{
    position: absolute;
    top: 37px;
    left: 51px;
    width: 111px;
    height: 152px;
    opacity: 0;
    z-index: 200;
}
.caption{
    background-color: rgb(61, 57, 57);
    color: white;
    border: 1px solid white;
    padding: 5px;
    opacity: .8;
    position: absolute;
    top: 101px;
    left: 56px;
    z-index:1;
    display: none;
}